{% extends 'base.html' %}

{% block head %}

<title>Search Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">ENTER YOUR YOUTUBE CHANNEL URL</h1>

    <div class="form">
        <form action="/review" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Search">
        </form>
    </div>
    <p>NOTE !! - Open your channel page then click on videos tab then copy that url and then only paste in the above search bar</p>
</div>
{% endblock %}